{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% import "DtdbCardsBundle::suits.html.twig" as suits %}

{% block head %}
<script src="{{ asset('/web/bundles/dtdbcards/js/reviews.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container reviews">

<div class="text-center">
<ul class="pagination pagination-sm" style="margin-top:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

<div class="reviews" style="">
{% for i in 0..reviews|length-1 %}{% set review = reviews[i] %}{% set card = review.card %}
<div class="row" style="margin-bottom:2em;border-bottom:1px solid #ddd">
	<div class="col-sm-4 hidden-xs">
		<div class="card-info">
		<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title card-title">
    			 <span class="pull-right">{{ suits.display_card_face(card.rank, card.suit|lower) }}</span>
				<a href="{{ card.url }}" class="card-title">{{ card.title }}</a>
				</h3>
  			</div>
			<div class="panel-body">
				<div class="card-type">
					{{ card.type }}
                    {% if card.keywords %}&bull; {{ card.keywords }}{% endif %}
					{% if not card.bullets is null %}&bull; {{ card.shooter }} {{ card.bullets }}{% endif %}
					{% if not card.influence is null %}&bull; Influence {{ card.influence }}{% endif %}
					{% if not card.control is null %}&bull; Control {{ card.control }}{% endif %}
					{% if not card.cost is null %}&bull; Cost {{ card.cost }}{% endif %}
					{% if not card.wealth is null %}&bull; Wealth {{ card.wealth }}{% endif %}
					{% if not card.production is null %}&bull; Production {{ card.production }}{% endif %}
					{% if not card.upkeep is null %}&bull; Upkeep {{ card.upkeep }}{% endif %}
				</div>
				<div class="card-text">
					{{ card.text|raw }}
				</div>
				<div class="card-flavor">
					<small>{{ card.flavor|raw|nl2br }}</small>
				</div>
				<div class="card-illustrator">
					<small>
					{{ card.gang }} &bull;
					{% if card.illustrator %}{{ card.illustrator }} &bull; {% endif %}{{ card.pack }} #{{ card.number }}
					</small>
				</div>
			</div>
		</div>
	</div>
		 </div>
    <div class="col-sm-3" style="padding:0">
			<div class="card-image" style="margin-bottom:10px">
				{% if card.imagesrc %}
            	   <img src="{{ card.imagesrc }}" class="img-responsive" style="margin:auto">
            	{% else %}
            	   <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
            	{% endif %}
			</div>
	</div>
	<div class="col-sm-5">
	   <article class="review" data-index="{{ review.id }}">
    	   <a name="review-{{ review.id }}"></a>
	       <header>
	           <span class="pull-right">
	               <a id="review-social-icon-like" href="#" class="social-icon-like" data-toggle="tooltip" data-placement="bottom" title="Like that review">
	                   <span class="glyphicon glyphicon-heart"></span> <span class="num">{{ review.nbvotes }}</span>
	               </a>
	           </span>
	           <a href="{{ path('cards_zoom', {card_code:review.card.code}) }}#review-{{ review.id }}" class="card">{{ review.card.title }}</a> by <a href="{{ path('user_profile_view', {user_id:review.author_id,user_name:review.author_name|e('url')}) }}" rel="author" class="{{ review.author_color }}">{{ review.author_name }}</a>
	           on <time pubdate datetime="{{ review.datecreation|date('Y-m-d') }}" title="{{ review.datecreation|date('F jS, Y') }}">{{ review.datecreation|date('n/j/y') }}</time>
	       </header>
	       <div class="review-content">
	           {{ review.text|raw }}
	       </div>
	   </article>
	   </div>
</div>
{% endfor %}
</div>

<div class="text-center">
<ul class="pagination pagination-sm" style="margin:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

</div>

{% endblock %}