{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% import "DtdbCardsBundle::suits.html.twig" as suits %}

{% block head %}
<script src="{{ asset('/web/bundles/dtdbcards/js/reviews.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container reviews">

<div class="text-center">
<ul class="pagination pagination-sm" style="margin-top:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

<div class="reviews" style="">
{% for i in 0..reviews|length-1 %}{% set review = reviews[i] %}{% set card = review.card %}
<div class="row">
	<div class="col-sm-8 col-sm-push-2" style="margin-bottom:2em;border-bottom:1px solid #ddd">
	   <article class="review" data-index="{{ review.id }}">
    	   <a name="review-{{ review.id }}"></a>
    	   {% if card.imagesrc %}
    	       <img src="{{ card.imagesrc }}" style="float:right;width:165px;height:231px;margin:0 0 20px 20px">
            {% else %}
               <div class="no-image" style="float:right;width:165px;height:231px;margin:0 0 20px 20px"><div class="no-image-text">No image</div></div>
            {% endif %}
	       <header>
	           <span class="pull-right">
	               <a id="review-social-icon-like" href="#" class="social-icon-like" data-toggle="tooltip" data-placement="bottom" title="Like that review">
	                   <span class="glyphicon glyphicon-heart"></span> <span class="num">{{ review.nbvotes }}</span>
	               </a>
	           </span>
	           <a href="{{ path('cards_zoom', {card_code:review.card.code}) }}#review-{{ review.id }}" class="card">{{ review.card.title }}</a> by <a href="{{ path('user_profile_view', {user_id:review.author_id,user_name:review.author_name|e('url')}) }}" rel="author" class="username {{ review.author_color }}">{{ review.author_name }}</a>
	           on <time pubdate datetime="{{ review.datecreation|date('Y-m-d') }}" title="{{ review.datecreation|date('F jS, Y') }}">{{ review.datecreation|date('n/j/y') }}</time>
	       </header>
	       <div class="review-content">
	           {{ review.text|raw }}
	       </div>
	   </article>
	</div>
</div>
{% endfor %}
</div>

<div class="text-center">
<ul class="pagination pagination-sm" style="margin:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

</div>

{% endblock %}