{% extends 'base.html.twig' %}
{% block body -%}
    <div class="container-fluid main">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Type list</h1>
                </div>
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('admin_type_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.name }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_type_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_type_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul>
                    <li>
                        <a href="{{ path('admin_type_new') }}">
                            Create a new entry
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
