<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<deck game="7fd3eeac-4916-4644-bd7d-e1f5ff6faaa5" sleeveid="0">
  <section name="Outfit" shared="False">
    <card qty="1" id="{{ outfit.id }}">{{ outfit.name }}</card>
  </section>
  <section name="Deck" shared="False">
{% for card in deck %}
    <card qty="{{ card.qty }}" id="{{ card.id }}">{{ card.name }}</card>
{% endfor %}
  </section>
  <notes><![CDATA[{{ description }}]]></notes>
</deck>