{% extends 'base.html.twig' %}
{% block title %}Timing Structure{% endblock %}
{% block body %}
    <div class="container main">

        <h1>{{ block('title') }}</h1>

        <div class="rules structure">
            <h1 style="text-align: center">Setup and Turn Sequence</h1>
            <table id="table1">
                <tr>
                    <th colspan="2"><a id="setup" href="#setup">Setup Procedure</a></th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Reveal outfits</li>
                        </ul>
                    </td>
                    <td>Players reveal their starting outfits simultaneously.</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Choose starting posses</li>
                        </ul>
                    </td>
                    <td>Players choose and reveal their starting cards simultaneously.</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Shuffle decks</li>
                        </ul>
                    </td>
                    <td>Players completely shuffle their decks. Each Player presents his/her deck to his/her opponent
                        for additional shuffling and/or a cut.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Draw starting hands</li>
                        </ul>
                    </td>
                    <td>Players draw starting play hands (normally five cards, NOT up to maximum hand size).</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Use Grifter abilities</li>
                        </ul>
                    </td>
                    <td>Players choose whether they are going to use a Grifter ability. Order of activation is decided
                        by a coin toss. (<a href="{{ path('cards_floor', { '_fragment': '3b'}) }}" target="_blank">More
                            details</a>)
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Match begins</li>
                        </ul>
                    </td>
                    <td>Grifter abilities are performed before time for the match has officially begun.</td>
                </tr>
                <tr>
                    <th colspan="2"><a id="lowball" href="#lowball">Gamblin' phase</a></th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Ante up 1 ghost rock</li>
                        </ul>
                    </td>
                    <td>If you have no money at the start of turn, borrow 1 ghost rock from the bank.</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Draw and reveal hands</li>
                        </ul>
                    </td>
                    <td>Players set aside their play hands and draw a five-card lowball draw hand from the top of their
                        decks, then reveal them simultaneously.<br><br>
                        If you use <a href="{{ path('cards_zoom', { card_code: "11001" }) }}" target="_blank"
                                      class="card" data-index="11001">108 Worldly Desires</a> or <a
                                href="{{ path('cards_zoom', { card_code: "10020" }) }}" target="_blank" class="card"
                                data-index="10020">The Extra Bet</a>, replace a card after lowball hands are drawn but
                        before they're revealed.<br><br>
                        Traits on cards in play that refer to draw hands being revealed can be triggered now (e.g. <a
                                href="{{ path('cards_zoom', { card_code: "01017" }) }}" target="_blank" class="card"
                                data-index="01017">Philip Swinford</a>, <a
                                href="{{ path('cards_zoom', { card_code: "04004" }) }}" target="_blank" class="card"
                                data-index="04004">Drew Beauman</a>).
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Play Cheatin' Resolutions</li>
                        </ul>
                    </td>
                    <td>If another player cheats, you can play a Cheatin' Resolution action card from your play hand
                        (not your lowball hand!), or use a Cheatin' Resolution ability printed on one of your cards in
                        play.<br><br>
                        The previous day's Winner of lowball gets the first opportunity to play a Cheatin'
                        Resolution.<br><br>
                        If it is the first turn of the game, pull for low value to determine who gets to act first, then
                        shuffle the pulled card back into the deck.<br><br>
                        Each player can only have one Cheatin' Resolution used against them <span style="color: red;">per Gamblin' phase</span>.<br><br>
                        You cannot play Cheatin' Resolutions if you yourself are cheatin', but other players do not.<br><br>
                        Regular (non-Cheatin') Resolutions cannot be played on lowball.<br><br>
                        If your opponent cheats, you can play <a href="{{ path('cards_zoom', { card_code: "01129" }) }}"
                                                                 target="_blank" class="card" data-index="01129">Cheatin&#039;
                            Varmint</a> or <a href="{{ path('cards_zoom', { card_code: "03021" }) }}" target="_blank"
                                              class="card" data-index="03021">It&#039;s Not What You Know...</a> to
                        lower your own hand rank.
                        <br>
                        If both you and your opponent cheat, but you have the first opportunity to play, you can use a
                        <a href="{{ path('cards_zoom', { card_code: "01081" }) }}" target="_blank" class="card"
                           data-index="01081">Pair of Six-Shooters</a> to make your hand legal, and immune to your
                        opponent's Cheatin' Resolutions.<br>
                        <span style="color: red;">At the end of this step, hand ranks are locked.</span><br><br>
                        If you used the spell <a href="{{ path('cards_zoom', { card_code: "03018" }) }}" target="_blank"
                                                 class="card" data-index="03018">Fetch</a>, put a card from your draw
                        hand into your play hand.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Compare hands</li>
                        </ul>
                    </td>
                    <td>During lowball, the player with the lowest hand rank wins. If players have hands of the same
                        rank, compare values (A-A-A-K-K beats 2-2-2-3-3 in lowball).<br><br>
                        <span style="color: red;">If several players are exactly tied for the win, they discard thier lowball hands and draw new ones to break the tie. Traits trigger on reveal once again, and Cheatin' Resolutions can be played.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Award the Winner</li>
                        </ul>
                    </td>
                    <td>The Winner takes all the ghost rock from the ante.<br><br>
                        The Winner goes first during each phase of the day, and wins ties whenever players want to do
                        something at the same time.<br><br>
                        The Winner keeps that title until a new Winner is determined in the end of the next Gamblin'
                        phase.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Discard lowball hands</li>
                        </ul>
                    </td>
                    <td>Finally, players discard their lowball hands and retrieve their play hands.</td>
                </tr>
                <tr>
                    <th colspan="2"><a id="upkeep" href="#upkeep">Upkeep phase</a></th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Collect income</li>
                        </ul>
                    </td>
                    <td>All players simultaneously receive production from each deed they both own and control, as well
                        as their home and any other non-deed cards they control.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Repay the bank</li>
                        </ul>
                    </td>
                    <td>All players that borrowed ghost rock for Lowball now return it to the bank.<br>
                        <span style="color: red;">If unable to repay, do so during next turn's upkeep</span>.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Pay upkeep</li>
                        </ul>
                    </td>
                    <td>Players pay upkeep for any cards that they control and wish to keep in play, in turn order,
                        beginning with the player to the left of the Winner.<br><br>
                        Dudes belonging to an outfit that does not match your home have their upkeep increased by their
                        influence.<br><br>
                        A player cannot refuse to pay 0 upkeep.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Discard unpaid dudes</li>
                        </ul>
                    </td>
                    <td>After players have paid upkeep, all card whose upkeep was not paid are discarded simultaneously,
                        along with any attached cards.
                    </td>
                </tr>
                <tr>
                    <th colspan="2"><a id="noon" href="#noon">High Noon phase</a></th>
                </tr>
                <tr>
                    <td></td>
                    <td>Starting with the Winner and going clockwise, players take turns to make any of the following
                        plays:
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#actin">Actin'</a></li>
                        </ul>
                    </td>
                    <td id="actin">Use a Noon ability on an action card in your play hand, or printed on one of your
                        cards in play.<br><br>
                        Text in bold before the colon is the cost of the ability. If it says <b>Boot</b>, you must boot
                        that card; unless it's a <b>Job</b>, in which case you must boot the Leader that you choose for
                        that job.<br><br>
                        Cost are also sometimes present after the colon, in the "do X to do Y" format. If you cannot do
                        X, then you will not get to do Y.<br><br>
                        In order to use an ability, you must be able to fully resolve the first sentence after the colon
                        (called a requirement).<br><br>
                        Each ability on a card in play can only be used once per day, regardless of whether it boots
                        that card or not. If a Spell has more than one ability, you can only use one of them per day.
                        Repeat abilites can be used any number of times per day.<br><br>
                        Abilities on deeds can only be used by that deed's current controller, whether or not the
                        controller is also the owner.<br><br>
                        Effects of Noon abilities typically last through the end of the Sundown phase.<br><br>
                        Action cards that initiate shootouts or jobs do not go into the discard pile immediately,
                        instead they stay on the board until the shootout or job ends, and it is another player's turn
                        to make a play.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#movin">Movin'</a></li>
                        </ul>
                    </td>
                    <td id="movin">As a Noon play, you can move one of your unbooted dudes to another location.<br><br>
                        A dude can move without booting:<br><br>
                        <ul>
                            <li>From home to an adjacent location (town square or an adjacent deed)</li>
                            <li>From town square to an in-town deed or to another player's home</li>
                        </ul>
                        <br>
                        A dude has to boot to move:<br><br>
                        <ul>
                            <li>From home to a non-adjacent location</li>
                            <li>From town square to an out-of-town deed or to your home</li>
                            <li>From any deed to anywhere</li>
                            <li>From another player's home to anywhere</li>
                        </ul>
                        <br>
                        Card effects that move dudes do so without booting them, and they can move booted dudes.<br><br>
                        Card effects that move dudes must actually make them change location. The only exeption is "move
                        into posse" effects, these actually mean "join a posse"; if a dude can join a posse without
                        changing location, these effects still work.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#callin-out">Callin' Out</a></li>
                        </ul>
                    </td>
                    <td id="callin-out">As a Noon play, you can make one of your unbooted dudes call out an opposing
                        dude at the same location.<br><br>
                        Dudes staying at their home cannot be called out normally.<br><br>
                        Card effects that initiate callouts can be used by booted dudes, and against dudes at their
                        home.<br><br>
                        Unbooted dudes can refuse a callout by moving home booted, even if already at home.<br><br>
                        Booted dudes cannot refuse a callout.<br><br>
                        Accepting a callout is different from opposing a job.<br><br>
                        After a callout is accepted, you can play a React ability like <a
                                href="{{ path('cards_zoom', { card_code: "06019" }) }}" target="_blank" class="card"
                                data-index="06019">Rope and Ride</a> or <a
                                href="{{ path('cards_zoom', { card_code: "04020" }) }}" target="_blank" class="card"
                                data-index="04020">Tail Between Yer Legs</a>. You can play several of these in
                        succession, but technically you must give your opponent(s) a chance to React as well after each
                        play.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#shoppin">Shoppin'</a></li>
                        </ul>
                    </td>
                    <td id="shoppin">As a Noon play, you can bring a dude, deed, spell, or goods card into play from
                        your play hand.<br><br>
                        Choose the card that you want to play, then pay all costs, then the chosen card enters play.<br><br>
                        <b>Dudes</b> enter play at your home by default.<br><br>
                        <b>Deeds</b>: In-town deeds enter play at either end of your street, as the last card in that
                        direction (new deeds can't be placed between existing locations). Out-of-town deeds are placed
                        off to one side.<br><br>
                        <b>Goods</b> and <b>Spells</b> enter play attached to dudes (and sometimes deeds).<br><br>
                        <ul>
                            <li>Only unbooted dudes in locations you control can attach goods and spells normally.</li>
                            <li>Card effects can attach goods and spells to booted dudes, and in locations you don't
                                control.
                            </li>
                            <li>Dudes can have no more than one <b>Weapon</b> and one <b>Horse</b> attached. If you
                                attach another one, discard the old one.
                            </li>
                            <li><b>Spells</b> can only be attached to dudes with the corresponding skill (Hexes to
                                Hucksters, Miracles to Blessed, Spirits to Shamans).
                            </li>
                            <li><b>Totems</b> can only be attached to locations that you control where you have an
                                unbooted Shaman.
                            </li>
                            <li><b>Gadgets</b> are invented by booting an unbooted Mad Scientist in a location you
                                control.
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#tradin">Tradin'</a></li>
                        </ul>
                    </td>
                    <td id="tradin">As a Noon play, you can transfer goods between your dudes in a location you control.<br><br>
                        Only unbooted dudes can receive goods. Booted dudes can give them away, but cannot receive
                        any.<br><br>
                        Any number of goods may be traded between any number of dudes as one play.<br><br>
                        Each goods can only be traded once per day.<br><br>
                        If a dude ends up with several Weapons and/or Horses attached, choose one of each to keep and
                        discard the rest.<br><br>
                        Spells cannot be traded.<br><br>
                        Card effects that transfer goods between dudes allow tradin' to booted dudes, and in locations
                        you don't control.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#upgradin">Upgradin'</a></li>
                        </ul>
                    </td>
                    <td id="upgradin">As a Noon play, you can replace your dude card in play with a different version of
                        that dude from your hand. The new card replaces the old, keeping all goods, spells, tokens, and
                        markers, and remains under any game effects. The card that was replaced goes to the discard pile
                        of its owner.<br><br>
                        You can replace a dude card with another dude card whose experience level is no more than one
                        greater or lower (non-experienced dudes are considered experience level 0). Thus you can replace
                        a non‑experienced dude with the Experienced 1 version, and vice versa.<br><br>
                        You can replace a given dude no more than once per turn.<br><br>
                        Overlaying a dude with its experienced version is different from playing a dude. It does not
                        trigger "enters play", "leaves play", or "when discarded" effects, and you cannot do this when a
                        card instructs you to 'play a dude' or 'put a dude into play' (e.g. <a
                                href="{{ path('cards_zoom', { card_code: "01133" }) }}" target="_blank" class="card"
                                data-index="01133">Recruitment Drive</a>).<br><br>
                        If you use <a href="{{ path('cards_zoom', { card_code: "04017" }) }}" target="_blank"
                                      class="card" data-index="04017">Puppet</a> to take control of an opposing dude,
                        then overlay him with an experienced version, you now own and control that dude, and you get to
                        keep him after Sundown.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#passin">Passin'</a></li>
                        </ul>
                    </td>
                    <td id="passin">If you cannot or do not want to make any other plays, pass.<br><br>
                        After both players pass consecutively, the High Noon phase ends, and the Sundown phase
                        starts.<br><br>
                        If one player announces Pass and then their opponent can also pass to win the game, that
                        opponent must announce "Check" and let that player make another play instead.
                    </td>
                </tr>
                <tr>
                    <th colspan="2"><a id="sundown" href="#sundown">Sundown phase</a></th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Check for Victory<br><br></li>
                            <li>Optionally discard one card<br><br></li>
                            <li>Refill your play hand<br><br></li>
                            <li>Unboot all cards in play<br><br></li>
                        </ul>
                    </td>
                    <td>
                        <ol>
                            <li>Effects that apply continuously during Sundown start (e.g. <a
                                        href="{{ path('cards_zoom', { card_code: "04009" }) }}" target="_blank"
                                        class="card" data-index="04009">Jake Smiley</a>)
                            </li>
                            <li>Check for victory conditions (<i>game possibly ends</i>)</li>
                            <li>Effects that require a check or game state change during Sundown are resolved (e.g. <a
                                        href="{{ path('cards_zoom', { card_code: "01004" }) }}" target="_blank"
                                        class="card" data-index="01004">The Sloane Gang</a> outfit)
                            </li>
                            <li>All players may choose to discard one card from their play hand (<i>lowball winner goes
                                    first</i>)
                            </li>
                            <li>All players refill their hand to their maximum hand size (<i>normally 5 cards</i>)</li>
                            <li>Unboot all cards</li>
                            <li>Effects that apply continuously during Sundown end</li>
                            <li>Effects that apply until the end of turn end (<i>most Noon abilities</i>)</li>
                            <li>Turn ends, start a new turn</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <th colspan="2"><a id="shootouts" href="#shootouts">Shootouts</a></th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Callout accepted</li>
                        </ul>
                    </td>
                    <td>A shootout starts when a dude accepts a call-out, or when a played decides to oppose a
                        job.<br><br>
                        Both the player and dude doing the callin' out are known as the Leader, while the player and
                        dude being called out are known as the Mark.<br><br>
                        The shootout takes place at the location of the mark, and does not change for the duration of
                        the shootout.<br><br>
                        <a href="{{ path('cards_zoom', { card_code: "06019" }) }}" target="_blank" class="card"
                           data-index="06019">Rope and Ride</a> is played before the final location of the shootout is
                        determined.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Formin' Posses</li>
                        </ul>
                    </td>
                    <td>The leader declares their entire posse first. Then, the mark does the same.<br><br>
                        Dudes already in the location of the shootout can join even if booted. Only unbooted dudes can
                        join from an adjacent location.<br><br>
                        A dude can't join a posse if there are restrictions that prevent them from moving to the
                        location of the shootout (e.g. <a href="{{ path('cards_zoom', { card_code: "04002" }) }}"
                                                          target="_blank" class="card" data-index="04002">Smiling
                            Tom</a>).<br><br>
                        Once both players have declared their posses, all dudes join simultaneously. Dudes that are not
                        yet in the location of the shootout must boot to move to that location (unless prevented by card
                        effects, e.g. <a href="{{ path('cards_zoom', { card_code: "01088" }) }}" target="_blank"
                                         class="card" data-index="01088">Roan</a>, <a
                                href="{{ path('cards_zoom', { card_code: "01094" }) }}" target="_blank" class="card"
                                data-index="01094">Mechanical Horse</a>, <a
                                href="{{ path('cards_zoom', { card_code: "05025" }) }}" target="_blank" class="card"
                                data-index="05025">Clown Carriage</a>, <a
                                href="{{ path('cards_zoom', { card_code: "01044" }) }}" target="_blank" class="card"
                                data-index="01044">Sloane</a>).<br><br>
                        Traits and abilities that refer to dudes joining a posse (e.g. <a
                                href="{{ path('cards_zoom', { card_code: "01025" }) }}" target="_blank" class="card"
                                data-index="01025">Irving Patterson</a>, <a
                                href="{{ path('cards_zoom', { card_code: "01047" }) }}" target="_blank" class="card"
                                data-index="01047">Ramiro Mendoza</a>, <a
                                href="{{ path('cards_zoom', { card_code: "01028" }) }}" target="_blank" class="card"
                                data-index="01028">James Ghetty</a>, <a
                                href="{{ path('cards_zoom', { card_code: "02006" }) }}" target="_blank" class="card"
                                data-index="02006">Lillian Morgan</a>, <a
                                href="{{ path('cards_zoom', { card_code: "07009" }) }}" target="_blank" class="card"
                                data-index="07009">Jacqueline Isham</a>) trigger now, as well as when dudes join due to
                        Shootout or Resolution plays. The leader is also considered to be joining a posse.<br><br>
                        Players can never have dudes they control in both posses.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#jobs">Jobs</a></li>
                        </ul>
                    </td>
                    <td id="jobs" style="border:dashed">During Jobs, things work in a somewhat different order.<br><br>
                        Choose one of your <i>unbooted</i> dudes to be the leader of the job.<br><br>
                        <ul>
                            <li>If the job was started by a dude or one of their attached cards (goods or spell), that
                                dude must be selected as the job's leader.
                            </li>
                            <li>Boot the leader only if the job requires booting as a part of the cost (e.g. "<b>Noon
                                    Job, Boot:</b>").
                            </li>
                        </ul>
                        <br>
                        Choose the mark.<br><br>
                        <ul>
                            <li>The mark can be anywhere, not necessarily close to the leader.</li>
                            <li>You can declare your own cards to be the mark of a job, but in this case you can't
                                defend against the job.
                            </li>
                        </ul>
                        <br>
                        The leader forms a posse.<br><br>
                        <ul>
                            <li>Dudes that are already in the mark's location can join the posse without booting, and
                                even if booted.
                            </li>
                            <li>Dudes in the leader's location, or in any location adjacent to the location of either
                                the leader or the mark, must boot to join the posse (unless prevented by card effects).
                            </li>
                            <li>All dudes join simultaneously, but they do not move at this point.</li>
                            <li>Check if the job imposes additional requirements on a posse (e.g. <a
                                        href="{{ path('cards_zoom', { card_code: "01123" }) }}" target="_blank"
                                        class="card" data-index="01123">Kidnappin&#039;</a>). If those requirements
                                aren't met after the posse is formed, then it is considered to be an illegal posse, and
                                the job immediately fails (all dudes that joined a posse move home booted).
                            </li>
                        </ul>
                        <br>
                        The mark's controller decides whether to oppose the job or not. If they choose to oppose, they
                        must form a posse following the same rules (boot to join from locations adjacent to the mark's
                        location, but do not move there yet).<br><br>
                        <ul>
                            <li>Note that the dude marked for the job does not necessarily have to join the posse.</li>
                            <li>If the mark's controller does not form a posse, then the mark's owner (if different from
                                its controller) can form a posse. If they do not, then any player (starting with the
                                player to the left of the leader) can form a posse to oppose the job.
                            </li>
                            <li>If no one forms a posse to oppose the job, the job automatically succeeds.</li>
                        </ul>
                        <br>
                        Once both posses are formed, all dudes move to the mark's location simultaneously (without
                        booting), and a shootout starts.<br><br>
                        <ul>
                            <li>Since actually moving to the job mark's location does not boot anyone, even dudes
                                equipped with <a href="{{ path('cards_zoom', { card_code: "01097" }) }}" target="_blank"
                                                 class="card" data-index="01097">Buffalo Rifle</a> will have to move
                                there.
                            </li>
                        </ul>
                        <br>
                        If the leader's posse wins the shootout, or no player forms a defending posse, the job succeeds.
                        Otherwise, the job fails.<br><br>
                        <ul>
                            <li>After the shootout is over, regardless of the outcome, survivors in the leader's posse
                                move home booted.
                            </li>
                            <li>If the job is successful, resolve its effect. If the mark is no longer in play, it is
                                unaffected.
                            </li>
                            <li>Finally, the remaining posses are dissolved and the job ends.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Breakin' and Enterin'</li>
                        </ul>
                    </td>
                    <td>If a shootout takes place at a private location, regardless of who started it, all dudes in the
                        shootout that are not controlled by the owner of that location have their bounty increased by 1.<br><br>
                        A deed's keywords will tell you whether it's public or private. A player's home is always
                        private, and the town square is always public.<br><br>
                        If a Shootout or Resolution play brings a dude into the shootout at another player's private
                        location, that dude gets 1 bounty, even if they already got bounty for this same
                        shootout.<br><br>
                        <ul>
                            <li>
                                This works the same way with jobs that raise the bounty of participating dudes (e.g. <a
                                        href="{{ path('cards_zoom', { card_code: "01114" }) }}" target="_blank"
                                        class="card"
                                        data-index="01114">Ambush</a>, <a
                                        href="{{ path('cards_zoom', { card_code: "01123" }) }}" target="_blank"
                                        class="card"
                                        data-index="01123">Kidnappin&#039;</a>).
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2"><a id="slingin-lead" href="#slingin-lead">Slingin' Lead</a></th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#step1">Step 1. Shootout Plays</a></li>
                        </ul>
                    </td>
                    <td id="step1">Shootout plays include using Shootout abilities, passing, or doing something 'as a
                        Shootout play' (see <a href="{{ path('cards_zoom', { card_code: "01089" }) }}" target="_blank"
                                               class="card" data-index="01089">Auto-Revolver</a>, <a
                                href="{{ path('cards_zoom', { card_code: "01120" }) }}" target="_blank" class="card"
                                data-index="01120">Concealed Weapons</a>, <a
                                href="{{ path('cards_zoom', { card_code: "05039" }) }}" target="_blank" class="card"
                                data-index="05039">Prayer</a>).<br><br>
                        Shootout abilities must come from either an action card in your play hand, a deed or outfit in
                        play, or a card in your posse (a dude or one of their attached cards).<br><br>
                        Shootout abilities that bring dudes <i>that are currently in play</i> into a posse can
                        be used even if they originate from a card that is currently outside a posse.<br><br>
                        <ul>
                            <li>
                                Shootout abilities that bring dudes into play (<a
                                        href="{{ path('cards_zoom', { card_code: "01104" }) }}" target="_blank"
                                        class="card"
                                        data-index="01104">Raising Hell</a>, <a
                                        href="{{ path('cards_zoom', { card_code: "05025" }) }}" target="_blank"
                                        class="card"
                                        data-index="05025">Clown Carriage</a>, <a
                                        href="{{ path('cards_zoom', { card_code: "09032" }) }}" target="_blank"
                                        class="card"
                                        data-index="09032">Spirit Dance</a>, <a
                                        href="{{ path('cards_zoom', { card_code: "09035" }) }}" target="_blank"
                                        class="card"
                                        data-index="09035">The Pack Awakens</a>) cannot originate from outside a
                                posse.<br><br>
                            </li>
                        </ul>
                        Shootout abilities can only affect dudes or their attached cards if they are in a posse (unless
                        that ability would bring a card into the posse).<br><br>
                        Effects of Shootout abilities typically last until the end of the shootout.<br><br>
                        If a Shootout ability causes one posse to become empty, the shootout ends immediately; skip to
                        step 7.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#step2">Step 2. Pick Yer Shooter</a></li>
                        </ul>
                    </td>
                    <td id="step2">Choose any dude in your posse to be the main shooter for this round of the shootout.
                        That dude contributes his/her full bullet rating to your draw hand.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#step3">Step 3. Draw!</a></li>
                        </ul>
                    </td>
                    <td id="step3">Set aside your play hand and draw cards into your draw hand equal to 5 plus your
                        posse's stud bonus. Your stud bonus equals the full stud rating of your shooter (if they have
                        one), plus one extra for each other stud dude in your posse.<br><br>
                        You may redraw a number of cards in your draw hand up to your draw bonus. Your draw bonus equals
                        the full draw rating of your shooter (if they have one), plus one extra for each other draw dude
                        in your posse. You must redraw all cards at once, not one card at a time.<br><br>
                        Even dudes with 0 bullets still contribute 1 bullet, if they're not chosen as the main
                        shooter.<br><br>
                        If you redraw at least one card, you may draw one extra card for each <a
                                href="{{ path('cards_zoom', { card_code: "01089" }) }}" target="_blank" class="card"
                                data-index="01089">Auto-Revolver</a> you control (anywhere, not necessarily in a posse).
                        <br><br>After redrawing, discard down to 5 cards. That's your final draw hand.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#step4a">Step 4a. Reveal Hands</a></li>
                        </ul>
                    </td>
                    <td id="step4a">Both players reveal their draw hands.<br><br>
                        Traits on cards in play that refer to draw hands being revealed can be triggered now (e.g. <a
                                href="{{ path('cards_zoom', { card_code: "01017" }) }}" target="_blank" class="card"
                                data-index="01017">Philip Swinford</a>, <a
                                href="{{ path('cards_zoom', { card_code: "01018" }) }}" target="_blank" class="card"
                                data-index="01018">Tommy Harden</a>).<br><br>
                        After all traits have been triggered and resolved, React abilities can be used (e.g. <a
                                href="{{ path('cards_zoom', { card_code: "01101" }) }}" target="_blank" class="card"
                                data-index="01101">Ace in the Hole</a>).<br><br>
                        If a player has to discard their hand and draw a new one (e.g. <a
                                href="{{ path('cards_zoom', { card_code: "01108" }) }}" target="_blank" class="card"
                                data-index="01108">Bottom Dealin&#039;</a>), these traits and React abilities cannot be
                        triggered again.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#step4b">Step 4b. Resolution Plays</a></li>
                        </ul>
                    </td>
                    <td id="step4b">Resolution plays include using Resolution abilities or passing.<br><br>
                        Resolution abilities must come from either an action card in your play hand (not your draw
                        hand), a deed or outfit in play, or a card in your posse (i.e a dude or one of their attached
                        cards).<br><br>
                        Resolution abilities that bring dudes <i>that are currently in play</i> into a posse can be used
                        can be use even if they originate from a card that is currently outside a posse.<br><br>
                        <ul>
                            <li>Resolution abilities that bring dudes into play (<a
                                        href="{{ path('cards_zoom', { card_code: "08016" }) }}" target="_blank"
                                        class="card"
                                        data-index="08016">Soul Cage</a>) cannot originate from outside a posse.
                                <br><br>
                            </li>
                        </ul>
                        Resolution abilities can only affect dudes or their attached cards if they are in a posse
                        (unless that ability would bring a card into the posse).<br><br>
                        Cheatin' Resolutions can be played if another player has an illegal hand. Each player can only
                        have one Cheatin' ability used against them in every round of the shootout. You cannot play
                        Cheatin' Resolutions if you yourself are cheatin', but other players do not.<br><br>
                        In multiplayer, any player can play a Cheatin' Resolution action card, even if that player is
                        not in the shootout.<br><br>
                        If a Resolution ability causes one posse to become empty, the shootout ends immediately; skip to
                        step 7.<br><br>
                        <span style="color: red;">At the end of this step, hand ranks are locked.</span><br><br>
                        If you used the spell <a href="{{ path('cards_zoom', { card_code: "03018" }) }}" target="_blank"
                                                 class="card" data-index="03018">Fetch</a>, put a card from your draw
                        hand into your play hand.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#step5">Step 5. Take Yer Lumps</a></li>
                        </ul>
                    </td>
                    <td id="step5">Compare final hand ranks (draw hand ranks + any modifiers). The player with the
                        highest hand rank wins this round of the shootout. If hand ranks are tied, both the loser and
                        the winner take one casualty each.<br><br>
                        <ul>
                            <li>When a card effect increases your hand rank, it is considered to be the worst possible
                                hand of its new rank. All hands of rank 11 or higher are equal.
                            </li>
                            <li>When a card effect decreases your hand rank, it is considered to be the best possible
                                hand of its new rank. All hands below rank 1 are considered equal to A-2-3-4-6.
                            </li>
                            <li>If both players have the exact same hand (ignoring suits), there is no winner or loser
                                for this round. In this case, the player who initiated a callout or a job (the Leader)
                                is the first to take casualties and decide whether to flee.
                            </li>
                        </ul>
                        <br>
                        The loser takes a number of casualties equal to the difference between the players' hand ranks,
                        plus any modifiers (e.g. <a href="{{ path('cards_zoom', { card_code: "01091" }) }}"
                                                    target="_blank" class="card" data-index="01091">Flame-Thrower</a>,
                        <a href="{{ path('cards_zoom', { card_code: "05027" }) }}" target="_blank" class="card"
                           data-index="05027">Evanor</a>).<br><br>
                        <ul>
                            <li>First announce the way you distribute casualties among your dudes and/or Sidekicks.</li>
                            <li>Then resolve casualties one by one, recalculating influence after each casualty is taken
                                if necessary (e.g. for the <a href="{{ path('cards_zoom', { card_code: "01076" }) }}"
                                                              target="_blank" class="card"
                                                              data-index="01076">Undertaker</a>).
                            </li>
                            <li>You can play React abilities to dudes being discarded or aced when each individual
                                casualty is resolved (e.g. <a href="{{ path('cards_zoom', { card_code: "01008" }) }}"
                                                              target="_blank" class="card" data-index="01008">Arnold
                                    McCadish</a>, <a href="{{ path('cards_zoom', { card_code: "05029" }) }}"
                                                     target="_blank" class="card" data-index="05029">Lay On Hands</a>).
                            </li>
                            <li>After you've resolved all casualties, now is the time to play <a
                                        href="{{ path('cards_zoom', { card_code: "01140" }) }}" target="_blank"
                                        class="card" data-index="01140">Takin&#039; Ya With Me</a> or <a
                                        href="{{ path('cards_zoom', { card_code: "01121" }) }}" target="_blank"
                                        class="card" data-index="01121">Hot Lead Flyin&#039;</a>.
                            </li>
                        </ul>
                        <br>
                        After the loser is done taking casualties, the winner then does the same (even if the loser had
                        to discard or ace all of their dudes).
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#step6">Step 6. Run or Gun</a></li>
                        </ul>
                    </td>
                    <td id="step6">The loser decides whether any of their dudes flee the shootout (leave the posse and
                        move home booted).<br><br>
                        Then, the winner decides whether to flee as well. The winner can decide to flee even if the
                        loser's whole posse has fled, or has been wiped out.<br><br>
                        If the loser decides to stay, and the winner chooses to flee, the loser cannot reconsider.
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li><a href="#step7">Step 7. Chamber Another Round</a></li>
                        </ul>
                    </td>
                    <td id="step7">Both players discard their draw hands.<br><br>
                        If only one posse remains, that player wins the shootout. If both posses have been emptied of
                        dudes, neither player wins the shootout. If both posses still have at least one dude each, go
                        back to step 1 to start the next shootout round.
                    </td>
                </tr>
            </table>
            <br>
            <h1 style="text-align: center"><a id="callout-vs-job" href="#callout-vs-job">Callout vs. Job</a></h1>
            <table id="table2">
                <tr>
                    <th style="width: 48%">Callout</th>
                    <td></td>
                    <th style="width: 48%">Job</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>Callout initiated</li>
                        </ul>
                    </td>
                    <td></td>
                    <td>
                        <ul>
                            <li>Job initiated</li>
                            <li>Choose the Leader (boot him if required for the job)</li>
                            <li>Choose the Mark</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li style="color:red">Callout accepted</li>
                            <li>React window for <a href="{{ path('cards_zoom', { card_code: "06019" }) }}"
                                                    target="_blank" class="card" data-index="06019">Rope and Ride</a>,
                                <a href="{{ path('cards_zoom', { card_code: "04020" }) }}" target="_blank" class="card"
                                   data-index="04020">Tail Between Yer Legs</a></li>
                        </ul>
                    </td>
                    <td></td>
                    <td style="border:dashed">
                        <ul>
                            <li><a href="{{ path('cards_zoom', { card_code: "04021" }) }}" target="_blank" class="card"
                                   data-index="04021">Election Day Slaughter</a>: Each other player may unboot a dude in
                                town
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>The Leader forms his posse</li>
                        </ul>
                    </td>
                    <td></td>
                    <td>
                        <ul>
                            <li>The Leader forms his posse</li>
                            <li>Dudes join the posse, booting if not in the mark's location</li>
                            <li><a href="{{ path('cards_zoom', { card_code: "01123" }) }}" target="_blank" class="card"
                                   data-index="01123">Kidnappin&#039;</a>: Check if the posse has enough bullets
                            </li>
                            <li><a href="{{ path('cards_zoom', { card_code: "01114" }) }}" target="_blank" class="card"
                                   data-index="01114">Ambush</a>, <a
                                        href="{{ path('cards_zoom', { card_code: "01123" }) }}" target="_blank"
                                        class="card" data-index="01123">Kidnappin&#039;</a>: Dudes in the posse get
                                bounty
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="color:red">
                        <ul>
                            <li>Job opposed</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>The Mark forms his posse</li>
                        </ul>
                    </td>
                    <td></td>
                    <td>
                        <ul>
                            <li>The Mark forms his posse</li>
                            <li>The dude marked for the job doesn't have to join</li>
                            <li>Dudes join the posse, booting if not in the mark's location</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li>All dudes join their respective posses simultaneously, moving to the mark's location and
                                booting if not there yet
                            </li>
                        </ul>
                    </td>
                    <td></td>
                    <td>
                        <ul>
                            <li>All dudes move to the mark's location (without booting)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="3">Slingin' Lead</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <ul>
                            <li>Survivors in the leader's posse move home booted</li>
                            <li>Resolve the job (apply "If successful" and other effects)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center">
                        <ul>
                            <li>Discard the action card that initiated the callout or job</li>
                        </ul>
                    </td>
                </tr>
            </table>

        </div>

    </div>
{% endblock %}
