{% extends 'DtdbBuilderBundle::layout.html.twig' %}

{% block head %}
<script>
$(function() {
}
</script>
{% endblock %}

{% block body %}

<div class="container">

	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
	{% endfor %}
	
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title" id="title">Profile</h3>
</div>
<div class="panel-body" id="main">

<form role="form" action="{{ path('user_profile_save') }}" method="POST">
  <div class="form-group">
    <label>Username</label>
    <p>{{ user.username }}</p>
  </div>
  
  <div class="form-group">
    <label>Reputation</label>
    <p>{{ user.reputation }}</p>
  </div>
  
  <div class="checkbox">
    <label>
        <input type="checkbox" name="notif_author" value="1" {% if user.notifAuthor %}checked{% endif %}>
        Be notified when a user comments one of your decklists
    </label>
  </div>
 
  <div class="checkbox">
    <label>
        <input type="checkbox" name="notif_commenter" value="1" {% if user.notifCommenter %}checked{% endif %}>
        Be notified when a user also comments a decklist you commented
    </label>
  </div>
 
  <div class="checkbox">
    <label>
        <input type="checkbox" name="notif_mention" value="1" {% if user.notifMention %}checked{% endif %}>
        Be notified when a user mentions you in a comment
    </label>
  </div>
 
  <div class="form-group">
    <label for="resume">Something about you</label>
    <textarea id="resume" name="resume" class="form-control">{{ user.resume }}</textarea>
  </div>
  
  <div class="form-group">
    <label for="color">Select a gang color for your username</label>
    {% for gang in gangs %}
    <div class="radio">
      <label class="{{ gang.code }}">
        <input type="radio" name="user_gang_code" id="optionsRadios1" value="{{ gang.code }}" {% if user.gang == gang.code %}checked{% endif %}>
          {{ gang.localizedName }}
	  </label>
	</div>
	{% endfor %}
  </div>
 
  <button type="submit" class="btn btn-default">Save</button>
</form>

</div>
</div>
</div>
</div>
</div> <!-- .container -->

{% endblock %}
